@import './reset.css';

@font-face {
    font-family: 'RickAndMorty';
    src: local('RickAndMorty'), url('../fonts/get_schwifty-webfont.woff') format('woff');
    src: local('RickAndMorty2'), url('../fonts/get_schwifty-webfont.woff2') format('woff2');
  }
  

:root{
    --color-background: #44281d;
    --color-portal: #97ce4c;
    --color-morty-shirt: #f0e14a;
    --color-font: #1d6673;
    --img-size: 250px;
}

.App{
    min-height: 100vh;
    display: grid; 
    grid-template-rows: 100px 1fr 50px;
    position: relative;
    background-color: var(--color-background);
}

/* header::after{
    content: '';
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center 100%;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;   
    transition: all 1s;
} */

* {
    /* outline: dashed red; */
}
