.App header{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 5px;
}

header h1{
    font-family: rickAndMorty;
    font-size: 3.3rem;
    margin: 1em 0 0.5em 0;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: var(--color-portal);
    text-shadow: 0 1px var(--color-complementary-light), 0 3px var(--color-light);
}

header p{
    font-size: 1rem;
    font-style: italic;
}
