@media (max-width: 600px){
    :root{
        --new-img-size: 120px;
    }

    .App #cards-area{
        grid-template-columns: repeat(auto-fit, var(--new-img-size));
        gap: 10px;
        align-items: start;
    }

    .card{
        height: auto;
        width: var(--new-img-size)
    }

    .card > img{
        height: var(--new-img-size);
        width: var(--new-img-size);
        border-radius: 1rem;
    }

    .card p {
        font-size: 1.1rem;
    }

    #pop-up h3{
        font-size: 2rem;
    }

    #pop-up h4{
        font-size: 1.2rem;
    }

    button{
        font-size: 1.3rem;
    }
}